
p{
	text-align: right;
	padding: 10px;
}

a{
		padding-right: 10px;
		color: black;
		font-family:sans-serif;
		font-size: small;
	
}

#searchForm{
	
	padding-top: 55px;
	
}

img{
	height:100px;
	width: 290px;
	
	
	
}

#google_logo_small{
	
	padding: 20px;
	position:absolute;
	margin:5px;
	width:105px;
	height:60px;
    
 }
 



.searchBox{
	width: 600px; 
	height: 50px; 
	border-radius: 50px;
	
}

.bottom-right {
color: blue;   
text-align: right;
padding-right: 127px;
  
}



.imageText{
	color:#4285f4;
	font:16px/16px roboto-regular, arial, sans-serif;
	position:relative;
	left:110px;
	top:0px;
	white-space:nowrap;
	}
	
label{
	text-align: left;
	color: red;
	padding: 5px;
	color:#d93025;
	font-size:20px;
	margin:25px 35px
	
}

table{
	font-size:small;
	font-stretch: justify;
	padding-left: 30px;
}

th, td, th {
	padding: 10px;
	text-align: left;
	
}
#advancedSearchForm{
	padding-right:20px;
}


.firstCollumn{
	width:200px;
	color:#222;
font-size:13px;
line-height:16px;
vertical-align:middle
	
}

.secondCollumn{
	width:600px;
	
}

.thirdCollumn{
	width:400px;
	
}

.smallFont{
	color:#666;
	font-family:monospace;
	font-size:11px;
	white-space:pre
	}